<!DOCTYPE html>
<html lang="en">
<head>
	<title>Leaderboards</title>
	<%- include("./../../metatags")%>
	<link rel="stylesheet" type="text/css" href="/games/snake/style.css">
	<link rel="stylesheet" type="text/css" href="/games/snake/comp/css/leaderboard.css">
	<link rel="stylesheet" type="text/css" href="/res/fonts/JosefinSans.css">
	<link rel="stylesheet" type="text/css" href="/res/fonts/Pacifico.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<div class="main">
	<div class="leaderboard">
		<div class="container-fluid">
			<div class="row leader">
				<div class="col-12 leaderboard-col">
					<div class="leaderboard-item">
						<div class="leader-score"><%= scores[0].score %></div>
						<div class="leader-name-wrapper">
							<div class="leader-name">
								<%= scores[0].name %>
							</div>
						</div>
						<div class="leader-message-wrapper">
							<div class="leader-message">
								<%= scores[0].message %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% if (scores.length > 1) { %>
				<div class="row not-leader">
				<div class="col-md-6 col-sm-12 leaderboard-col">
					<%- include('./partials/highscore', {score: scores[1]}); %>
				</div>
				<% if (scores.length > 2) {%>
				<div class="col-md-6 col-sm-12 leaderboard-col">
					<%- include('./partials/highscore', {score: scores[2]}); %>
				</div>
				<% } %>
			</div>
			<% } %>
			<% if (scores.length > 3) { %>
				<div class="row not-leader">
					<div class="col-md-6 col-sm-12 leaderboard-col">
						<%- include('./partials/highscore', {score: scores[3]}); %>
					</div>
					<% if (scores.length > 4) {%>
						<div class="col-md-6 col-sm-12 leaderboard-col">
							<%- include('./partials/highscore', {score: scores[4]}); %>
						</div>
					<% } %>
				</div>
			<% } %>
		</div>
	</div>
	<button id="play-button" class="play-button">Play</button>
	<script type="text/javascript" defer>
		document.getElementById("play-button").onclick = function gotoGame() {
			window.location.href = "/snake/comp";
		}
	</script>
</div>
</body>
</html>